body {
  background-color: #0b0b0b;
  color: #fff;
  font-family: sans-serif;
}

.content {
  border-left: 1px solid #555555dd;
  border-right: 1px solid #555555dd;
  width: 0 auto;
  margin: 0 4em;
  padding: 0 2em;
  height: 100%;
  background-color: #11111166;
  padding-bottom: 10em;
}

.header .gallery {
  background-image: url(../images/screenshots/dashboard.png);
  background-repeat: no-repeat;
  height: 20em;
}

.header .logo {
  background-image: url(../images/logo.svg);
  background-size: auto 15em;
  background-repeat: no-repeat;
  height: 15em;
}

.header .description {
  float: right;
  font-size: 3em;
  line-height: 1.6em;
  font-family: monospace;
  padding: 1em;
  color: #555;
  word-spacing: 100vw;
  text-align: right;
}

.header .description a {
  font-size: 0.5em;
  text-decoration: none;
  color: #629dda55;
}
.header .description a:hover {
  color: #629dda99;
}

#gallery a {
  margin: 10px;
  text-decoration: none;
  line-height: 170px;
}

#gallery img {
  border: 3px solid #55555599;
  opacity: 0.6;
}

#gallery a:hover img {
  border-color: #eeeeee55;
  opacity: 1;
}
